body{
    font-family: "Poppins", sans-serif;
    margin: 0;
   background: linear-gradient(to right, #0c0044,#848eeb);
   color: #fff;
   line-height: 1.6;
   height: 100%;
   width: 100%;
   box-sizing: border-box;
}

    
   
    


.hero{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 2rem 1rem;
    text-align: left;
    
}

.hero1{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 2rem 1rem;
    text-align: left;
    
}

.hero-left img{
    width: 220px;
    height: 220px;
    border-radius: 50%;
    object-fit: cover;
    border: 6px solid white;
    box-shadow: 0px 6px 15px rgba(0,0,0,0.3);
    margin-right: 2rem;

}


.hero-text{
    max-width: 1000px;
}

.hero h2{
    font-size: 1.5rem;
    margin: 0;
    color: #f9fde3;
}

.hero h1{
    font-size: 2rem;
    margin: 0.2rem 0;
    color: #ffd54f;
    font-weight: 700;
}

.hero p {
    font-size: 1rem;
    margin: 0.5 0 1rem;
}

.hero-info{
    background: rgba(17, 0, 90, 0.4);
    padding: 1rem;
    border-radius: 10px;
    margin-bottom: 1rem;
    font-size: 0.95rem;
     border: 10px solid #a0a0a0;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);

}
    
.hero-info a{
    color: #000000;
    text-decoration: none;
    transition: color 0.3s ease;
    
}


.hero-btn{
    display: inline-block;
    padding: 0.6rem 1.2rem;
    background: #ffffff;
    color: #2196f3;
    font-weight: 600;
    border-radius: 30px;
    text-decoration: none;
    transition: all 0.3 ease;
}

.hero-btn :hover{
    background: #2196f3;
    color: #fff;
    box-shadow: 0px 4px 12px rgba(17, 0, 90, 0.4);
}

nav{
    display: flex;
    justify-content: center;
    gap: 2rem;
    background: rgba(17, 0, 90, 0.4);
    padding: 1rem;
    border-radius: 10px;
    margin: 1rem auto;
    max-width: 500px;
}

nav a{
    color: #ffffff;
    font-weight: 600;
    text-decoration: none;
    position: relative;
    padding: 0.3 0.5rem;
    transition: color 0.3 ease, transform 0.3s ease;
}

nav a.active{
    color: #ff9800;
    border-bottom: 2px solid #ff9800;

}

nav a ::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 0%;
    height: 2px;
    background: #ffd54f;
    transition: width 0.3 ease;
}

nav a:hover{
    color:#ffd54f;
    transform: scale(1.1);
}

nav a:hover::after{
    width: 100%;
}

#hire{
    text-align: center;
    margin: 2rem auto;
    padding: 2rem;
    background: rgba(17, 0, 90, 0.4);
    border-radius: 15px;
    max-width: 700px;
     border: 10px solid #a0a0a0;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

#hire, article{
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}


#hire h2{
    font-size: 30px;
    color: #ffd54f;
    margin-bottom: 1rem;
}

#hire p{
    font-size: 15px;
    color: #f1f1f1;
}

article{
    text-align: center;
    margin: 2rem auto 4rem;
    padding: 2rem;
    background: rgba(17, 0, 90, 0.4);
    border-radius: 15px;
    max-width: 700px;
    transition: transform 0.3 ease;
     border: 10px solid #a0a0a0;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}


article h3{
    font-size: 30px;
    font-weight: bolder;
    margin-bottom: 20px;
    color: #ffd54f;
   
}

article p{
    font-size: 20px;
}

.footer{
    width: 100;
    text-align: left;
    padding: 15px 0;
    position: fixed;
    margin-top: 30px;
    font-size: 14px;
    justify-content: left;
}


footer :hover{
    color: #ffd54f;
    text-decoration: underline;
}

@media (max-width: 768px){
    .hero{
        flex-direction: column;
        text-align: center;   
    }

    .hero-left img{
        margin: 0 auto 20px;
    }

    nav {
        flex-direction: column;
        gap: 10px;
    }
}